
*.lock

*.bin

\.gradle/buildOutputCleanup/cache\.properties

\.idea/caches/build_file_checksums\.ser

\.idea/modules/app/app\.iml

\.idea/modules\.xml

\.idea/modules/app/E-Story Reminder App-app\.iml
